* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%; 
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #F5E9D0;
}

header {
    width: 100%;
    background-color: #f3d7a6;
    color: #5D2A42;
    text-align: center;
}

h2 {
    text-align: center;
    margin-bottom: 10px;
}


.content-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: flex-start; 
    flex-wrap: wrap; 
    margin-top: 10px; 
    width: 80%; 
    max-width: 1200px; 
    margin-left: auto; 
    margin-right: auto;
}

figure img {
    max-width: 100%; 
    height: auto;
}

figure {
    margin: 0 20px; 
    flex: 1; 
}

.left-side, .right-side {
    flex: 1; 
    margin: 0 20px; 
}

figcaption {
    text-align: center;
    font-style: italic;
    font-size: 0.8em;
}

.indent {
    text-indent: 40px; 
    line-height: 3;
}


nav {
    margin: 1rem auto; 
    width: 80%; 
    max-width: 600px; 
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

nav li {
    padding: 0 1rem;
}

nav li a:hover {
    color: #5252eb;
  }

nav a {
    text-decoration: none;
    color: #5D2A42;
    padding: 10px;
}

main {
    width: 80%; 
    max-width: 1200px; 
    margin-left: 20%; 
    margin-right: 20%;
    padding: 5px;
    text-align: align-left;
}

footer {
    width: 100%;
    background-color: #F4DECB; 
    color: rgb(72, 27, 133);
    text-align: center;
    padding: none;
    position: absolute;
    bottom: 5px;
    left: 0;
    margin-bottom: 5px
  }
  
  footer ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center; 
    gap: 1rem;
    margin-bottom: 5px;
    margin-top: 5px;
  }

  footer li a {
    text-decoration: none;
    color: #892a56;
  }
  
  footer li a:hover {
    color: #eb9652;
    margin-bottom: 5px;
  }

