<h1>Jimmy Lubeta's Jovial Lion || ITIS 3135</h1>
        <p><em>Access Empowered, Barriers Removed</em></p>
        <nav>
            <ul>
                <li><a href="./index.html">Home</a></li>
                <li class="separator">||</li>
                <li><a href="./introduction.html">Introduction</a></li>
                <li class="separator">||</li>
                <li><a href="./contract.html">Contract</a></li>
                <li class="separator">||</li>
                <li><a href="./about.html" class="active">About</a></li>
                <li class="separator">||</li>
                <li><a href="./tables.html">Tables</a></li>
                <li class="separator">||</li>
                <li><a href="./forms.html">Forms</a></li>
                <li class="separator">||</li>
                <li><a href="./website_evaluations.html">Website Evaluations</a></li>
                <li class="separator">||</li>
                <li><a href="./firstscripts.html">First scripts</a></li>
                <li class="separator">||</li>
                <li><a href="./links.html">Links</a></li>
                <li class="separator">||</li>
                <li><a href="./byo_intro.html">Byo intro</a></li>
                <li class="separator">||</li>
                <li><a href="./calculator_try.html">Calculator try</a></li>
                <li class="separator">||</li>
                <li><a href="./calculator_fcc.html">Calculator FCC</a></li>
            </ul>
        </nav>